.app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: minmax(3%, 30%) minmax(512px, 1024px) minmax(3%, 30%);
  grid-template-rows: minmax(6%, 18%) minmax(360px, 720px) minmax(6%, 18%);
  grid-template-areas: ". . ." ". gameScreen ." ". . .";
}

.gameScreen {
  grid-area: gameScreen;
  background-color: black;
  display: grid;
  grid-template-rows: 7fr 1fr;
  grid-template-areas: "screen" "navBar";
}

.screen {
  width: auto;
  height: auto;
}

.navBar {
  grid-area: navBar;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "mapButton . . . . . . . skillsButton playerInfoButton settingsButton";
}
.settingsButton {
  grid-area: settingsButton;
  min-width: 100%;
  height: auto;
}
.mapButton {
  grid-area: mapButton;
  min-width: 100%;
  height: auto;
}
.playerInfoButton {
  grid-area: playerInfoButton;
  min-width: 100%;
  height: auto;
}
.skillsButton {
  grid-area: skillsButton;
  min-width: 100%;
  height: auto;
}
